* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
}

.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 0 1.2rem;
  padding-top: 2rem;
  align-items: center;
}

.view-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.view-about .text h1 {
  color: #333;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
}
.view-about .text p {
  font-size: 1rem;
  color: #666;
}

.background-image{
  background-size:cover;
  background-position:center;
  opacity:5;
  background-image: url(https://img.freepik.com/free-vector/senior-people-getting-checkup-hospital_53876-59913.jpg?t=st=1741694231~exp=1741697831~hmac=5923d33915266ab0b75a905e43dbe6f79e376d880dade7e66ded7d5d0561dc7d&w=1380);
}

.view-about-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}
.view-about-5 .text h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
}
.view-about-5 .text p {
  font-size: 1rem;
  color: #666;
}
.view-about-5 .text .img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.view-about-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  flex-direction: column;
}
.view-about-6 .text h1 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: center;
}
.view-about-6 .text .testimonial-blocks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.view-about-6 .text .testimonial-blocks .block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .container-about {
    padding: 0 1;
  }
  .view-about-1 {
    flex-direction: row;
  }
  .view-about-1 .text {
    flex: 1;
  }
  .view-about-1 .img {
    flex: 1;
  }
  .view-about-1 .img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .view-about-2 {
    flex-direction: row;
  }
  .view-about-2 .text {
    flex: 1;
  }
  .view-about-2 .img {
    flex: 1;
  }
  .view-about-2 .img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .view-about-3 {
    flex-direction: row;
  }
  .view-about-3 .text {
    flex: 1;
  }
  .view-about-3 .img {
    flex: 1;
  }
  .view-about-3 .img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .view-about-4 {
    flex-direction: row;
  }
  .view-about-4 .text {
    flex: 1;
  }
  .view-about-4 .img {
    flex: 1;
  }
  .view-about-4 .img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .view-about-5 {
    flex-direction: row;
  }
  .view-about-5 .text {
    flex: 1;
  }
  .view-about-5 .img {
    flex: 1;
  }
  .view-about-5 .img img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .view-about-6 .text {
    flex: 1;
  }
  .view-about-6 .text .testimonial-blocks {
    flex-direction: row;
  }
  .view-about-6 .text .testimonial-blocks .block {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .view-about-6 .text .testimonial-blocks .block:not(:last-child) {
    margin-right: 1rem;
  }
}/*# sourceMappingURL=about.css.map */