* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
}

.base {
    margin: 0;
}

.view-1 {
    height: 100vh;
    width: 100%;
    background-image: url("images/view-1.png");
    background-size: cover;
    display: flex;
    overflow-y: hidden;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    img {
        aspect-ratio: 16/18;
        width: 90%;
        opacity: 0;
        border-radius: 10px;
    }

    .text {
        width: 100%;
        aspect-ratio: 4/4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;

        h1 {
            font-size: 4.5rem;
            color: #0d225b;
            font-weight: 400;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.7rem;
            color: #14224c;
            font-weight: 400;
            margin-bottom: 20px;
        }

        button {
            width: 100px;
            height: 40px;
            background-color: #173077;
            color: white;
            font-size: 1rem;
            font-weight: 400;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.7s;

            &:hover {
                background-color: #1e3a8a;
            }
        }
    }
}

.view-2 {
    width: 100%;
    display: flex;
    aspect-ratio: 16/10;
    gap: 1rem;
    margin-top: 1rem;
    overflow-x: auto;


    .img {
        background-color: #060606;
        z-index: 1;
        animation: slide 15s infinite;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: end;
        gap: .8rem;
        border-radius: 20px;

        h1{
            font-size: 1.2rem;
            color: rgb(19, 19, 19);
            font-weight: 400;
        }

        p{
            font-size: .8rem;
            color: rgb(19, 19, 19);
            font-weight: 400;
        }

        button {
            width:  70px;
            height: 30px;
            background-color: #173077;
            color: white;
            font-size: .5rem;
            font-weight: 400;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.7s;
        }



    }

    .img-1 {
        background-image: url("images/view-2-1.png");
        background-size: cover;
        width: 100vw;
        aspect-ratio: 16/8;
        padding: 2rem;
        display: flex;
        align-items: end;

    }

    .img-2 {
        background-image: url("images/view-2-2.png");
        background-size: cover;
        width: 100%;
        aspect-ratio: 16/8;
        opacity: 0.9;
        padding: 2rem;
        display: flex;
        align-items: end;
    }

    .img-3 {
        background-image: url("images/view-2-3.png");
        background-size: cover;
        width: 100%;
        aspect-ratio: 16/8;
        padding: 2rem;
        display: flex;
        align-items: end;
    }

    .img-4 {
        background-image: url("images/view-2-4.png");
        background-size: cover;
        width: 100%;
        padding: 2rem;
        aspect-ratio: 16/8;
        display: flex;
        align-items: end;

    }

    .img-5 {
        background-image: url("images/view-2-5.png");
        background-size: cover;
        width: 100%;
        aspect-ratio: 16/8;
        padding: 2rem;
        display: flex;
        align-items: end;
    }

    &::-webkit-scrollbar {
        display: none;
    }

}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-385%);
    }

}

.view-3 {
    width: 100%;
    background-color: #f1f1f1;
    display: flex;
    padding: 1.5rem;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: center;

    .head {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 10px;

        h1 {
            font-size: 4rem;
            color: #0e0e0e;
            font-weight: 300;
            line-height: 3.9rem;
            opacity: .8;
            margin-bottom: 20px;
        }
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .cont-1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                aspect-ratio: 4/4;
                width: 90%;
                border-radius: 10px;

            }

            h3 {
                font-size: 1.7rem;
                color: #173077;
                font-weight: 400;
                margin: 1rem;
            }

        }

        .cont-2 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                aspect-ratio: 4/4;
                width: 90%;
                border-radius: 10px;
            }

            h3 {
                font-size: 1.8rem;
                color: #173077;
                font-weight: 400;
                margin: 1rem;
            }

        }

        .cont-3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                aspect-ratio: 4/4;
                width: 90%;
                border-radius: 10px;
            }

            h3 {
                font-size: 1.8rem;
                color: #173077;
                font-weight: 400;
                margin: 1rem;
            }

        }

    }

    .img {
        aspect-ratio: 4/2;
        width: 100%;
        background-image: url("images/view-3-4.png");
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
}

.view-4 {
    width: 100%;
    aspect-ratio: 16/6;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
        font-size: 1.6rem;
        text-align: center;
        color: #173077;
        font-weight: 400;
    }
}

.view-5 {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0e0e0e;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;

    img {
        width: 80%;
        aspect-ratio: 4/4;
        border-radius: 50%;
        background-color: #999;
        margin-top: 2rem;
        box-shadow: 5px 0px 20px 8px rgba(235, 232, 232, 0.2);

    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem 0rem;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3.5rem;
            color: #173077;
            font-weight: 400;
        }

        p {
            font-size: 1.4rem;
            color: #173077;
            font-weight: 400;
        }

        button {
            margin-top: 2rem;
            width: 120px;
            height: 40px;
            font-size: 1rem;
            border-radius: 30px;
        }
    }
}

.view-6 {
    width: 100%;
    aspect-ratio: 16/6;
    padding: 1.5rem;
    padding-top: 5rem ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;

    img {
        aspect-ratio: 4/4;
        width: 70%;
        background-color: #0e0e0e;
        transform: rotate(-3deg);
        border-radius: 10px;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 3rem 0rem;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3.5rem;
            color: #173077;
            font-weight: 400;
        }

        p {
            font-size: 1.4rem;
            color: #173077;
            font-weight: 400;
        }

        button {
            margin-top: 1.5rem;
            width: 120px;
            height: 40px;
            font-size: 1rem;
            border-radius: 30px;
        }
    }

}

@media screen and (min-width: 768px) {

    .view-1 {
        flex-direction: row-reverse;

        img {
            width: 60%;
            background-position: bottom;
        }

        .text {


            h1 {
                font-size: 5rem;
            }

            p {
                font-size: 2rem;
            }

            button {
                margin-top: 2rem;
                width: 150px;
                height: 40px;
                font-size: 1.3rem;
            }
        }
    }

    .view-2 {
        aspect-ratio: 0;

        .img {
            height: 90vh;
        }
    }

    .view-3 {
        .content {
            flex-direction: row;
            gap: 1.5rem;

            .cont-1,
            .cont-2,
            .cont-3 {
                width: 30%;
            }
        }

        .img {
            aspect-ratio: 16/2;
        }
    }

    .view-4 {
        aspect-ratio: 16/10;

        p{
            font-size: 4rem;
        }
    }

    .view-5 {
        padding: 10rem;
        flex-direction: row-reverse;
        justify-content: space-between;

        img {
            width: 30%;
        }

        .content {
            width: 40%;
        }
    }

    .view-6 {
        flex-direction: row;
        padding: 15rem;

        img {
            width: 35%;
        }

        .content {
            width: 40%;
        }

    }
}

@media screen and (min-width: 1024px) {

    .view-1 {
        img {
            width: 60%;
        }
    }

    .view-2 {
        .img {
            height: 80vh;
        }
    }

    .view-3 {
        .content {

            .cont-1,
            .cont-2,
            .cont-3 {
                width: 25%;
            }
        }
    }

    .view-4 {
        aspect-ratio: 16/6;

        p {
            font-size: 6rem;
        }
    }

    .view-5 {
        padding: 10rem;
        justify-content: space-between;

        img {
            width: 30%;
        }

        .content {
            width: 40%;
        }
    }

    .view-6 {
        padding: 13rem;

        img {
            width: 30%;
        }

        .content {
            width: 40%;
        }
    }

}