* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.base {
  margin: 0;
}

.view-1 {
  height: 100vh;
  width: 100%;
  background-image: url("images/view-1.png");
  background-size: cover;
  display: flex;
  overflow-y: hidden;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.view-1 img {
  aspect-ratio: 16/18;
  width: 90%;
  opacity: 0;
  border-radius: 10px;
}
.view-1 .text {
  width: 100%;
  aspect-ratio: 4/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.view-1 .text h1 {
  font-size: 4.5rem;
  color: #0d225b;
  font-weight: 400;
  margin-bottom: 20px;
}
.view-1 .text p {
  font-size: 1.7rem;
  color: #14224c;
  font-weight: 400;
  margin-bottom: 20px;
}
.view-1 .text button {
  width: 100px;
  height: 40px;
  background-color: #173077;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}
.view-1 .text button:hover {
  background-color: #1e3a8a;
}

.view-2 {
  width: 100%;
  display: flex;
  aspect-ratio: 16/10;
  gap: 1rem;
  margin-top: 1rem;
  overflow-x: auto;
}
.view-2 .img {
  background-color: #060606;
  z-index: 1;
  animation: slide 15s infinite;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: end;
  gap: 0.8rem;
  border-radius: 20px;
}
.view-2 .img h1 {
  font-size: 1.2rem;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.view-2 .img p {
  font-size: 0.8rem;
  color: rgb(19, 19, 19);
  font-weight: 400;
}
.view-2 .img button {
  width: 70px;
  height: 25px;
  background-color: #173077;
  color: white;
  font-size: 0.5rem;
  font-weight: 400;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.7s;
}
.view-2 .img-1 {
  background-image: url("images/view-2-1.png");
  background-size: cover;
  width: 100vw;
  aspect-ratio: 16/8;
  padding: 2rem;
  display: flex;
  align-items: end;
}
.view-2 .img-2 {
  background-image: url("images/view-2-2.png");
  background-size: cover;
  width: 100%;
  aspect-ratio: 16/8;
  opacity: 0.9;
  padding: 2rem;
  display: flex;
  align-items: end;
}
.view-2 .img-3 {
  background-image: url("images/view-2-3.png");
  background-size: cover;
  width: 100%;
  aspect-ratio: 16/8;
  padding: 2rem;
  display: flex;
  align-items: end;
}
.view-2 .img-4 {
  background-image: url("images/view-2-4.png");
  background-size: cover;
  width: 100%;
  padding: 2rem;
  aspect-ratio: 16/8;
  display: flex;
  align-items: end;
}
.view-2 .img-5 {
  background-image: url("images/view-2-5.png");
  background-size: cover;
  width: 100%;
  aspect-ratio: 16/8;
  padding: 2rem;
  display: flex;
  align-items: end;
}
.view-2::-webkit-scrollbar {
  display: none;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-385%);
  }
}
.view-3 {
  width: 100%;
  background-color: #f1f1f1;
  display: flex;
  padding: 1.5rem;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
}
.view-3 .head {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.view-3 .head h1 {
  font-size: 4rem;
  color: #0e0e0e;
  font-weight: 300;
  line-height: 3.9rem;
  opacity: 0.8;
  margin-bottom: 20px;
}
.view-3 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-3 .content .cont-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-3 .content .cont-1 img {
  aspect-ratio: 4/4;
  width: 90%;
  border-radius: 10px;
}
.view-3 .content .cont-1 h3 {
  font-size: 1.7rem;
  color: #173077;
  font-weight: 400;
  margin: 1rem;
}
.view-3 .content .cont-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-3 .content .cont-2 img {
  aspect-ratio: 4/4;
  width: 90%;
  border-radius: 10px;
}
.view-3 .content .cont-2 h3 {
  font-size: 1.8rem;
  color: #173077;
  font-weight: 400;
  margin: 1rem;
}
.view-3 .content .cont-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-3 .content .cont-3 img {
  aspect-ratio: 4/4;
  width: 90%;
  border-radius: 10px;
}
.view-3 .content .cont-3 h3 {
  font-size: 1.8rem;
  color: #173077;
  font-weight: 400;
  margin: 1rem;
}
.view-3 .img {
  aspect-ratio: 4/2;
  width: 100%;
  background-image: url("images/view-3-4.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.view-4 {
  width: 100%;
  aspect-ratio: 16/6;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.view-4 p {
  font-size: 1.6rem;
  text-align: center;
  color: #173077;
  font-weight: 400;
}

.view-5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0e0e0e;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}
.view-5 img {
  width: 80%;
  aspect-ratio: 4/4;
  border-radius: 50%;
  background-color: #999;
  margin-top: 2rem;
  box-shadow: 5px 0px 20px 8px rgba(235, 232, 232, 0.2);
}
.view-5 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem;
  justify-content: center;
  align-items: center;
}
.view-5 .content h1 {
  font-size: 3.5rem;
  color: #173077;
  font-weight: 400;
}
.view-5 .content p {
  font-size: 1.4rem;
  color: #173077;
  font-weight: 400;
}
.view-5 .content button {
  margin-top: 2rem;
  width: 120px;
  height: 40px;
  font-size: 1rem;
  border-radius: 30px;
}

.view-6 {
  width: 100%;
  aspect-ratio: 16/6;
  padding: 1.5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}
.view-6 img {
  aspect-ratio: 4/4;
  width: 70%;
  background-color: #0e0e0e;
  transform: rotate(-3deg);
  border-radius: 10px;
}
.view-6 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem 0rem;
  justify-content: center;
  align-items: center;
}
.view-6 .content h1 {
  font-size: 3.5rem;
  color: #173077;
  font-weight: 400;
}
.view-6 .content p {
  font-size: 1.4rem;
  color: #173077;
  font-weight: 400;
}
.view-6 .content button {
  margin-top: 1.5rem;
  width: 120px;
  height: 40px;
  font-size: 1rem;
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .view-1 {
    flex-direction: row-reverse;
    padding-top: 2rem;
  }
  .view-1 img {
    width: 60%;
    background-position: bottom;
  }
  .view-1 .text {
    margin-top: 4rem;
  }
  .view-1 .text h1 {
    font-size: 5rem;
  }
  .view-1 .text p {
    font-size: 2rem;
  }
  .view-1 .text button {
    margin-top: 2rem;
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
  }
  .view-2 {
    aspect-ratio: 0;
  }
  .view-2 .img {
    height: 90vh;
  }
  .view-2 .img .text h1 {
    font-size: 3rem;
  }
  .view-2 .img .text p {
    font-size: 1.5rem;
  }
  .view-2 .img .text button {
    margin-top: 0.5rem;
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 40px;
  }
  .view-3 .head h1 {
    font-size: 5.5rem;
    padding-top: 2rem;
    line-height: 6rem;
  }
  .view-3 .content {
    flex-direction: row;
    gap: 1.5rem;
  }
  .view-3 .content .cont-1,
  .view-3 .content .cont-2,
  .view-3 .content .cont-3 {
    width: 30%;
  }
  .view-3 .content .cont-1 h3,
  .view-3 .content .cont-2 h3,
  .view-3 .content .cont-3 h3 {
    font-size: 2.3rem;
  }
  .view-3 .img {
    aspect-ratio: 16/2;
  }
  .view-4 {
    aspect-ratio: 16/10;
  }
  .view-4 p {
    font-size: 4rem;
  }
  .view-5 {
    padding: 10rem;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .view-5 img {
    width: 30%;
  }
  .view-5 .content {
    width: 40%;
  }
  .view-5 .content h1 {
    font-size: 4.9rem;
  }
  .view-5 .content p {
    font-size: 2.5rem;
  }
  .view-5 .content button {
    width: 175px;
    height: 45px;
    font-size: 1.5rem;
  }
  .view-6 {
    flex-direction: row;
    padding: 15rem;
  }
  .view-6 img {
    width: 35%;
  }
  .view-6 .content {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .view-1 img {
    width: 60%;
  }
  .view-2 .img {
    height: 80vh;
  }
  .view-3 .head h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
  .view-3 .content .cont-1,
  .view-3 .content .cont-2,
  .view-3 .content .cont-3 {
    width: 25%;
  }
  .view-4 {
    aspect-ratio: 16/6;
  }
  .view-4 p {
    font-size: 6rem;
  }
  .view-5 {
    padding: 10rem;
    justify-content: space-between;
  }
  .view-5 img {
    width: 30%;
  }
  .view-5 .content {
    width: 40%;
  }
  .view-6 {
    padding: 13rem;
  }
  .view-6 img {
    width: 30%;
  }
  .view-6 .content {
    width: 40%;
  }
  .view-6 .content h1 {
    font-size: 4.7rem;
  }
  .view-6 .content p {
    font-size: 2.3rem;
  }
  .view-6 .content button {
    width: 150px;
    height: 40px;
    font-size: 1.4rem;
  }
}