@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    color: #0e0e0e;
}

html,
body {
    width: 100%;
    height: 100%;
}

.base {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}


nav {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    .logo {
        width: 100%;
        font-size: 24px;
        font-weight: 600;
    }

    .nav {
        display: flex;
        gap: 10px;

        ul {
            display: flex;
            align-items: center;
            list-style: none;

            li {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                }
            }
        }

        .profile {
            display: flex;
            gap: 5px;
            align-items: center;

            .prf {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.bar {
    display: none;
    cursor: pointer;
}

.bar span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #0e0e0e;
    margin: 5px 0;
    transition: all 0.3s ease-in-out;

    a:hover {
        color: #0077cc;
    }
}


.active a {
    color: #f1f1f1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
    color: #f1f1f1;
    font-size: 16px;
    font-weight: 500;
    gap: 10px;

    a {
        text-decoration: none;
        color: #f1f1f1;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
    }
  }
  

@media screen and (max-width: 768px) {

    .bar {
        display: block;
    }

    ul {
        position: absolute;
        top: 0;
        left: -101%;
        width: 100%;
        height: 100vh;
        background-color: #0e0e0e;
        flex-direction: column;
        gap: 20px;
        padding: 100px;
        transition: all 0.3s ease-in-out;
        align-items: center;
        justify-content: center;
    }

    li {
        margin: 10px 0;

        a{
            color: #f1f1f1;
        }
    }

    .active ul {
        left: 0;
    }
}